/* @media only screen and (min-width:200px) and (max-width:575px){
    header button{
        opacity: 1;
        visibility: visible;
    }
} */
/* xxl */
@media (max-width:1500px){
    .container-xxl{
        max-width: 1320px;
    }
    .col-xxl-3{
        width: 25%;
        padding: 0 15px;
    }
}
/* xl */
@media (max-width:1399px){
    .container-xl{
        max-width: 1140px;
    }
}
/* lg */
@media (max-width:1199px){
    .container-lg{
        max-width: 960px;
    }
    .col-lg-6{
        width: 50%;
        padding: 0 15px;
    }

}
/* md */
@media (max-width:991px){
    .container-md{
        max-width: 720px;
    }
    .col-md-12{
        width: 100%;
        padding: 0 15px;
    }
    .submenu-heading ul{
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }
    .footer-icon{
        display: flex;
        flex-direction: row;
    }
    .item-1{
        display: none;
    }
}
/* sm */
@media (max-width:767px){
    .container-sm{
        max-width: 540px;
    }
    header .nav-item{
        width: 100%;
        color: red;
    }
    
}
/* xs */
@media (max-width:575px){
    .container-xs{
        max-width: 100%;
    }
}